@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

:root {
  --bg-url: url("../public/Backgrounds/flower-7061254.svg");
  --photo-url: url("../public/Photos/Nikhil & Karishma-1571.jpg");
  font-family: 'Cormorant Garamond', serif;
}

body {
  /* background: #fff url('../public/Backgrounds/floral-5244930.svg') no-repeat fixed center center;
  background-size: cover; */
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.appOuterContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--photo-url) no-repeat fixed center center;
  background-size: auto;
  z-index: -100;
  position: relative;
}

.appOuterContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, transparent 40%, rgba(0, 0, 0, 0.9) 100%); /* Circular cutout */
  z-index: 1; /* Place the overlay above the background image */
}

.appInnerContainer {
  /* background: #fff url('../public/Backgrounds/floral-5244930.svg') no-repeat fixed center center; */
  background: var(--bg-url) no-repeat fixed center center;
  background-size: auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80%;
  width: 80%; */
}

.appContents {
  /* height: 80%; */
  background: #00000085;
  width: 100vw;
  margin-top: 10%;
  z-index: -1;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 15px;

  height: 20%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.title {
  margin: 20px 0px;
  text-align: center;
}

.photoContainer {
  width: '300px';
  height: '300px';
  border-radius: '10px';
  box-shadow: '0 4px 8px rgba(0, 0, 0, 0.1)';
  margin: '0 auto 20px';
}

.photo {
  width: 60%;
  /* height: '300px'; */
  /* border-radius: '10px';
  box-shadow: '0 4px 8px rgba(0, 0, 0, 0.1)';
  margin: '0 auto 20px'; */
}


/* ******* */
/* Buttons */
/* ******* */

.buttonContainer {
  margin: 0px 0%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  padding-right: 20px;
}
.button {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 48px;
  /* width: 160px; */
  min-width: 240px;
  margin: 0px 5px;
  cursor: pointer;
  font-weight: bold;
  height: 55px;
  border: 2px white solid;
  -webkit-box-reflect: bottom 1px linear-gradient(transparent, #0004);
  z-index: 9999;
}

.button span {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  text-align: center;
  /* background: #2e2e2e; */
  background: #0000008e;
  color: rgba(255, 255, 255, 0.781);
  transition: 0.5s;
  z-index: 9999;
}

/* .button:hover span { */
span:hover {
  color: rgb(141, 33, 33);
  cursor: pointer;
}

/* .button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 400%;
  opacity: 0;
  transition: 0.5s;
  animation: animate123 20% linear infinte;
} */
